doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title songwinsky
    // link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')

    script(src='/jquery/dist/jquery.min.js')
    script(src='/javascripts/main.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')

    // script(src='webcomponentsjs/webcomponents-lite.min.js')
    // link(rel='import', href='paper-button/paper-button.html')
  body
    div.container-fluid
      block content